// Site-wide settings

// Breakpoints
$hdscreen:        1500px;
$desktop:         1300px;
$ipad:            980px;
$phablet:         740px;
$mobile:          450px;

// Colours
$colour:        #2b6ce5;
$text:          #fff;
$lighttext:     #7c838b;
$darktext:      #2f3f52;
$background:    #121822;

// Font weights
$light:         300;
$regular:       400;
$semibold:      600;
$bold:          700;

// Fonts
$font:          'Montserrat', 'Open Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
